td.BoardCell {
    color: white;
    cursor: pointer;
    z-index: 1;
}
td.BoardCell > div {
    min-width: 1.25rem;
    min-height: 1.25rem;
    text-align: center;
}
td.BoardCell:hover {
    background-color: lightgray;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
    z-index: 3;
}
.BoardCell > .hidden {
    background-image: url('../images/facingDown.png');
}
.BoardCell > .revealed {
    background-image: url('../images/0.png');
}
.BoardCell > .flag {
    background-image: url('../images/flagged.png');
}
.BoardCell > .exposed-mine {
    background-color: rgba(255, 0, 0, 0.25);
    background-image: url('../images/bomb.png');
}
.BoardCell > .count-1 {
    background-image: url('../images/1.png');
}
.BoardCell > .count-2 {
    background-image: url('../images/2.png');
}
.BoardCell > .count-3 {
    background-image: url('../images/3.png');
}
.BoardCell > .count-4 {
    background-image: url('../images/4.png');
}
.BoardCell > .count-5 {
    background-image: url('../images/5.png');
}
.BoardCell > .count-6 {
    background-image: url('../images/6.png');
}
.BoardCell > .count-7 {
    background-image: url('../images/7.png');
}
.BoardCell > .count-8 {
    background-image: url('../images/8.png');
}
.bg-img {
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: center;
}
@media only screen and (max-width: 600px) {
    .bg-img {
        background-size: 100% !important;
    }
    td.BoardCell > div {
        background-size: 0.75rem !important;
    }
}