div.Board {
    background-color: rgba(0, 0, 0, 0.375);
    padding: 0.25rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    box-shadow: 0 0 10px 1px lightgray;
    border: 5px solid darkgray;
}
.Board table {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow:  inset 0 0 20px 1px darkgrey;
}
td.header-display {
    width: 33.3%;
    padding: 0.5rem;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-align {
    text-align: left;
}
div.Board table.info {
    background-color: rgba(0, 0, 0, 0.25);
}
div.Board .header-display button {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 20%;
}
div.Board .header-display button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
div.Board-Header {
    box-shadow: inset 0 0 8px 1px;
    border: 5px solid darkgray;
}
div.Board-Body {
    border: 5px solid darkgray;
    box-shadow: inset 0px 0px 5px 1px;
}